<div class="panel panel-default">
   <br />
    <div>
        <label>
            baseIRR
            <input type="number" name="baseIRR" ng-model="vm.metadata.settings.evaluatingIndicator.baseIRR"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            incometax
            <input type="number" name="incometax" ng-model="vm.metadata.settings.evaluatingIndicator.incometax"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            surplusreserve
            <input type="number" name="surplusreserve" ng-model="vm.metadata.settings.evaluatingIndicator.surplusreserve"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            Statutorywelfarereserve
            <input type="number" name="Statutorywelfarereserve" ng-model="vm.metadata.settings.evaluatingIndicator.Statutorywelfarereserve"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            extractsurplusreserve
            <input type="number" name="extractsurplusreserve" ng-model="vm.metadata.settings.evaluatingIndicator.extractsurplusreserve"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            Profitpayable
            <input type="number" name="Profitpayable" ng-model="vm.metadata.settings.evaluatingIndicator.Profitpayable"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            surplusreservescale
            <input type="number" name="surplusreservescale" ng-model="vm.metadata.settings.evaluatingIndicator.surplusreservescale"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
</div>