<!--<script src="modules/weather/aapp.js"></script>-->

<div data-ng-controller="rootViewModel">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U
                    </div>
                    <div class="col-md-4">
                        {{city.name}}
                    </div>
                    <div class="col-md-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor
                        <div class="row">
                            <div class="col-md-4">
                                bbss
                            </div>
                            <div class="col-md-4">
                                bbssss
                            </div>
                            <div class="col-md-4">
                                bbssss
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
